.cart {
    max-width: 1200px;
    margin: 5vh auto 0 auto;
  }
  
  .title {
    color: var(--accent);
    text-align: center;
    margin-bottom: 40px;
  }
  
  .empty {
    text-align: center;
    background: var(--primary);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .ctaButton {
    background: var(--secondary);
    color: var(--accent);
    text-decoration: none;
    padding: 14px 40px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .ctaButton:hover {
    background: var(--hover);
    color: white;
  }
  
  .items {
    display: grid;
    gap: clamp(10px, 1.66vh, 20px);
    margin-bottom: clamp(20px, 3.2vh, 40px);
  }
  
  .summary {
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1.25rem;
    color: var(--accent);
  }
  
  .clearButton {
    width: clamp(170px, 37.5vw, 320px);
    background: var(--secondary);
    color: black;
    padding: 8px 4px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    letter-spacing: 2.5px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 0 auto;
  }

  .orderButton {
    width: 100%;
    background: var(--accent);
    color: white;
    padding: 16px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    letter-spacing: 2.5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .orderButton:hover {
    background: var(--hover);
    color: black;
  }

  .clearButton:hover {
    background: var(--hover);
    color: var(--primary);
  }
  
  @media (max-width: 768px) {
    .summary {
      padding: 15px;
      align-items: center;
    }
    
    .total {
      text-align: center;
      width: 100%;
    }
    
    .orderButton {
      width: 100%;
      padding: 14px;
      font-size: 1rem;
    }
  }