.orderForm {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(10px, 2vh, 20px);
    padding: clamp(20px, 2.5vw, 30px);
    max-width: 500px;
    width: 90vw;
    margin: 0 auto;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .input,
  .select,
  .textarea {
    padding: clamp(5px, 1vh, 10px);
    border: 1px solid var(--accent);
    border-radius: 4px;
    font-size: clamp(10px, 3.25vw, 18px);
    color: black;
    resize: vertical;
  }
  
  .textarea {
    resize: vertical;
    height: clamp(50px, 8.3vh, 100px);
  }
  
  .submitButton {
    background: var(--accent);
    color: white;
    border: none;
    padding: 14px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .submitButton:hover {
    background: var(--hover);
    color: black;
  }

  .error {
    font-size: clamp(10px, 3.25vw, 18px);
    color: red;
  }
  