.hero {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    justify-content: center;
    align-content: end;
    gap: 20px;
    padding: 20px;
  }

.hero_Профнастил {
  background: url(../../assets/prof.jpg) center/cover; 
}

.hero_Сухие_смеси {
  background: url(../../assets/smesi.jpg) center/cover;
}

.hero_Древесные_плиты {
  background: url(../../assets/pliti.jpg) center/cover;
}

.hero_Гипсокартон {
  background: url(../../assets/gkl.jpg) center/cover;
}

.hero_Профиля_и_направляющие {
  background: url(../../assets/profil.jpg) center/cover;
}

.hero_Маяки_и_перфорированные_углы {
  background: url(../../assets/mayak.jpg) center/cover;
}

.hero_Профтрубы_и_металлические_углы {
  background: url(../../assets/trubi.jpg) center/cover;
}

.hero_Утеплители {
  background: url(../../assets/utepl.jpg) center/cover;
}

.hero_Изоляция {
  background: url(../../assets/isol.jpg) center/cover;
}
  
  .ctaButton {
    box-sizing: content-box;
    width: auto;
    height: 40px;
    border: none;
    background: var(--secondary);
    padding: 0 10px;
    border-radius: 4px;
    font-size: clamp(12px, 1.5vw, 18px);
    color: black;
    cursor: pointer;
  }
  
  .ctaButton:hover, .categoryButton:hover {
    background: var(--hover);
    color: black;
    outline: 1px solid black;
  }

  .categoryButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
  justify-content: center;
}

.categoryButton {
  padding: 8px 10px;
  background: var(--secondary);
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: clamp(12px, 1.5vw, 18px);
  text-decoration: none;
}

.active, .active:hover {
  background-color: #180085;
  color: #fff;
  outline: 1px solid black;
}
  
  .menuGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, clamp(250px, 28vw, 400px));
  gap: 20px;
  justify-content: center;
}
