.hero {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    justify-content: center;
    align-content: end;
    gap: clamp(10px, 3.33vw, 20px);
    padding: 20px;
  }

.hero_Профнастил {
  background: url(../../assets/prof.webp) center/cover; 
}

.hero_Сухие_смеси {
  background: url(../../assets/smesi.webp) center/cover;
}

.hero_Древесные_плиты {
  background: url(../../assets/pliti.webp) center/cover;
}

.hero_Вагонка_и_бруски {
  background: url(../../assets/brus.webp) center/cover;
}

.hero_Арматура_и_кладочная_сетка {
  background: url(../../assets/arm.webp) center/cover;
}

.hero_Гипсокартон {
  background: url(../../assets/gkl.webp) center/cover;
}

.hero_Профиля_и_направляющие {
  background: url(../../assets/profil.webp) center/cover;
}

.hero_Маяки_и_перфорированные_углы {
  background: url(../../assets/mayak.webp) center/cover;
}

.hero_Профтрубы_и_металлические_углы {
  background: url(../../assets/trubi.webp) center/cover;
}

.hero_Утеплители {
  background: url(../../assets/utepl.webp) center/cover;
}

.hero_Изоляция {
  background: url(../../assets/isol.webp) center/cover;
}

.hero_Гидроизоляция {
  background: url(../../assets/hydro.webp) center/cover;
}

.hero_Крепёж {
  background: url(../../assets/krepezh.webp) center/cover;
}

.hero_Лакокрасочные_материалы {
  background: url(../../assets/kraski.webp) center/cover;
}

.hero_Отделка {
background: url(../../assets/otdelka.webp) center/cover;
}

.hero_Инструменты_и_расходные_материалы {
background: url(../../assets/instrum.webp) center/cover;
}

.ctaButton {
    box-sizing: content-box;
    width: auto;
    height: clamp(25px, 7.8125vw, 30px);
    border: none;
    background: var(--secondary);
    padding: 0 clamp(5px, 1.5625vw, 10px);
    border-radius: 4px;
    font-size: clamp(12px, 1.5vw, 18px);
    color: black;
    cursor: pointer;
  }
  
  .ctaButton:hover, .categoryButton:hover {
    background: var(--hover);
    color: black;
    outline: 1px solid black;
  }

  .categoryButtons {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(7px, 1.6vw, 10px);
  justify-content: center;
}

.categoryButton {
  padding: clamp(4px, 1.25vw, 8px) clamp(5px, 1.5vw, 10px);
  background: var(--secondary);
  border: none;
  border-radius: clamp(2px, 0.625vw, 4px);
  color: black;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: clamp(12px, 1.5vw, 18px);
  text-decoration: none;
}

.active, .active:hover {
  background-color: #180085;
  color: #fff;
  outline: 1px solid black;
}
  
  .menuGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, clamp(250px, 28vw, 400px));
  gap: 20px;
  justify-content: center;
}