  .header {
    width: 100%;
    background: var(--primary);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .cart_container {
    display: flex;
  }

  .cart {
    display: block;
    cursor: pointer;
    z-index: 400; 
  }
  
  .cart svg, .logo svg, .contacts svg {
    width: clamp(40px, 5.5vw, 80px);;
    height: auto;
  }
  
  .counter {
    width: 20px;
    height: 20px;
    font-weight: 600;
    color: var(--text);
  }