.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(10px, 1.5vw, 20px);
  padding: 15px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.cartItem:hover {
  transform: translateY(-3px);
}

.image {
  width: clamp(60px, 12.5vw, 80px);
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
}

.details {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: clamp(8px, 2.2vw, 18px);
  color: var(--accent);
}

.price {
  color: #666;
  font-weight: 600;
  font-size: clamp(10px, 2.2vw, 18px);
}

.controls {
  order: 2;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 4px;
  background: var(--primary);
  border-radius: 24px;
}

.controlButton {
  background: var(--secondary);
  color: white;
  border: none;
  width: clamp(16px, 2.4vw , 32px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.quantity {
  font-weight: 600;
  color: var(--accent);
  white-space: nowrap;
  font-size: clamp(8px, 2.2vw, 18px);
}

.removeButton {
  order: 3;
  background: none;
  border: none;
  color: #ff4444;
  font-size: 32px; 
  cursor: pointer;
  transition: color 0.3s;
  justify-self: center;
}

.removeButton:hover {
  color: #cc0000;
}

.quantityInput {
  width: 50px;
  padding: 2px;
  font-size: clamp(10px, 2vh, 24px);
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease;
  -moz-appearance: textfield;
}

.quantityInput:focus {
  border-color: var(--secondary); /* или ваш основной цвет фокуса */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
