:root {
  --primary: #ffffff;
  --secondary: #00e1ff;
  --accent: #000000;
  --text: #3a3a3a;
  --hover: #3e6bff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'WDXL Lubrifont SC';
}

@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap');

@font-face {
  font-family: 'Times New Roman Cyr';
  src: url(./assets/timesnrcyrmt.ttf);
}

body {

  color: var(--text);
  background-color: var(--primary);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 10px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  /* Это заставит основной контент занимать всё пространство между header и footer */
}